.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-container {
  margin: 20px;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.heading {
  font-family: roboto;
}
.search-container {
  background-color: #f1f5f9;
  border-radius: 5px;
  border-style: none;
  border-width: 0px;
  width: 23%;
  display: flex;
  justify-content: center;
  margin-left: 80px;
}

.input-style {
  background-color: transparent;
  outline: none;
  font-family: roboto;
  border-radius: 5px;
  padding: 8px;
  width: 80%;
  color: #252627;
  border-width: 0px;
}

.search-icon-style {
  width: 20px;
  margin: 5px;
}
